In [1]:
#import pandas library
import pandas as pd

In [15]:
#creating data frame
df=pd.DataFrame([[10,12,14,16],[11,18,15,21],[12,13,14,15]],
columns=["CD","DBMS","DSS","CAO",])

In [16]:
df

   CD  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   21
2  12    13   14   15

In [6]:
df.shape

(3, 5)

In [10]:
df.size

15

In [11]:
df.ndim

2

In [34]:
df.loc[len(df)]=[5,6,7,8]

In [36]:
df

   CD  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   21
2  12    13   14   15
3   5     6    7    8

In [39]:
df["DM"]=[12,13,14,15]

In [40]:
df

   CD  DBMS  DSS  CAO  DM
0  10    12   14   16  12
1  11    18   15   21  13
2  12    13   14   15  14
3   5     6    7    8  15

In [31]:
df4=df3.drop(index=[1])

In [32]:
df4

   CD  DBMS  DSS  CAO
0   5     6    7    8

In [42]:
#finding mean of DSS
print("Mean  of DSS:",df4["DSS"].mean())

Mean  of DSS: 7.0

In [43]:
#finding mean of DSS
print("Mode  of DSS:",df4["DSS"].mode())

Mode  of DSS: 0    7
Name: DSS, dtype: int64

In [44]:
#finding mean of DSS
print("Median  of DSS:",df4["DSS"].median())

Median  of DSS: 7.0

In [45]:
#creating  name list
Name=["Aastha","Ziya","Harshal","Yash"]
Name

['Aastha', 'Ziya', 'Harshal', 'Yash']

In [47]:
#creating a series
Roll_list=pd.Series(Name,index=[1,2,3,4])
print(Roll_list)

1     Aastha
2       Ziya
3    Harshal
4       Yash
dtype: object